/* body{
    background-image: url("../images/app_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav-link{
    font-size: 18px;
    margin:8px;
}
.navbar-brand{
    margin:8px;
} */
